.info {
  width: 100%;
  padding-bottom: 120px;
  background: url('../img/about_bg/bg.jpg') center/cover no-repeat;
}
.info__description {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__description__title {
  color: var(--color-white);
  margin-top: 130px;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
}
.info__description__content {
  color: var(--color-white);
  margin-top: 32px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.main__content {
  width: 100%;
  background-color: var(--color-white);
}
.main {
  width: 100%;
  padding: 110px 0px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 85px;
}
.container__card {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  padding: 25px 50px;
  text-transform: uppercase;
}
.container__card__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--color-greyhound);
}
.container__card__logo {
  width:100px;
  height:100px;
}
