.header {
  width: 100%;
  border-bottom: 1px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__ul {
  display: flex;
  list-style: none;
}
.header__nav__ul__li-item {
  margin: 0px 37px;
  position: relative;
}
.header__nav__ul__li-item::after {
  content: '';
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: -40px;
  height: 2px;
  background: var(--color-grey);
  transition: all 0.7s;
  opacity: 0;
}
.header__nav__ul__li-item:hover::after {
  opacity: 1;
  right: 0;
  left: 0;
}
.header__nav__ul__li-item > a:active {
  color: #e71414;
}
.header__nav__ul__li-item:hover::after {
  background: #e71414;
  opacity: 1;
  right: 0;
  left: 0;
  bottom: -40px;
}
.header__nav__ul__li-item > a {
  color: var(--color-white);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
.header__logo {
  height: 100px;
}
