.header {
  width: 100%;
  border-bottom: 1px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__ul {
  display: flex;
  list-style: none;
}
.header__nav__ul__li-item {
  margin: 0px 37px;
  position: relative;
}
.header__nav__ul__li-item::after {
  content: '';
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: -40px;
  height: 2px;
  background: var(--color-grey);
  transition: all 0.7s;
  opacity: 0;
}
.header__nav__ul__li-item:hover::after {
  opacity: 1;
  right: 0;
  left: 0;
}
.header__nav__ul__li-item > a:active {
  color: #e71414;
}
.header__nav__ul__li-item:hover::after {
  background: #e71414;
  opacity: 1;
  right: 0;
  left: 0;
  bottom: -40px;
}
.header__nav__ul__li-item > a {
  color: var(--color-white);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
.header__logo {
  height: 100px;
}

.input-burger {
  display: none;
}
.burger__label {
  cursor: pointer;
  display: none;
}
.burger__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(107, 85, 106, 0.551);
  backdrop-filter: blur(5px);
  z-index: 100;
  transform: translateX(-100vw);
  transition: all 0.5s;
  padding: 2.5em;

  display: none;
  flex-direction: column;
}
.burger__close {
  font-size: 24px;
  color: var(--color-white);
  font-weight: 700;
  display: block;
  align-self: center;
  cursor: pointer;
}
.burger-icon {
  width: 24px;
  height: 18px;
}
.burger__menu-list {
  display: flex;
  flex-direction: column;
  gap: 49px;
  list-style: none;
  height: 574px;
}
.burger__menu-link {
  color: var(--color-white);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
.input-burger:checked ~ .burger__menu {
  transform: translateX(0);
}
.burger__logo {
  display: flex;
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
    border-bottom: 1px solid var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav__ul__li-item > a {
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  .header__nav__ul__li-item {
    width: 62px;
    margin: 0px 25px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .burger__label {
    cursor: pointer;
    display: block;
  }
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    border-bottom: 1px solid var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger__label {
    cursor: pointer;
    display: block;
  }
  .burger__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../img/about_bg/bg.jpg') center/cover no-repeat;
    backdrop-filter: blur(5px);
    z-index: 100;
    transform: translateX(-100vw);
    transition: all 0.5s;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
  }
}
