:root {
  --color-white: #ffffff;
  --color-red: #ff4343;
  --color-grey: #babbc5;
  --color-black: #2d3033;
  --color-greyhound: #6c7279;
  --color-gradient-red: radial-gradient(
    circle,
    rgba(255, 67, 67, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  --color-super-red: #b90c0c;
  --color-grey: #c6cbcd;
  --color-brown: #7e5d6f;
  --color-str_black: #000000;
}
