.testimonials {
  width: 100%;
  height: 535px;
  margin-bottom: 114px;
}
.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slider__imgs_slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slider__imgs_slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  display: flex;
  background: url('../img/slider_img/slider_bg2.jpg');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide img {
  width: 100%;
  height: 500px;
}

.navigation {
  position: absolute;
  width: 100%;
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
.navigation-btn {
  border: 1px solid var(--color-brown);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-btn:not(:last-child) {
  margin-right: 40px;
}
.navigation-btn:hover {
  background: var(--color-brown);
}
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}
.slide__photo {
  width: 50%;
  height: 100%;
  background: url('../img/slider_img/slider_bg1.jpg') center/cover no-repeat;
}
.slide__content {
  width: 471px;
  height: 270px;
  padding: 0;
  margin: 116px 170px 116px 130px;
}
.slide__content_description {
  width: 471px;
  height: 230px;
  color: var(--color-white);
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 0;
}
.slide__content_title {
  width: 471px;
  height: 28px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .testimonials {
    width: 100%;
    height: 365px;
    margin-bottom: 77px;
  }
  .slider {
    width: 100%;
    height: 332px;
    overflow: hidden;
  }
  .slider__imgs_slides {
    width: 500%;
    height: 332px;
    display: flex;
  }
  .slide__content {
    width: 330px;
    height: 176px;
    padding: 0;
    margin: 47px 104px 110px 88px;
  }
  .slide__content_description {
    width: 330px;
    height: 156px;
    color: var(--color-white);
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .slide__content_title {
    width: 330px;
    height: 19px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .testimonials {
    width: 100%;
    height: 365px;
    margin-bottom: 77px;
  }
  .slider {
    width: 100%;
    height: 332px;
    overflow: hidden;
  }
  .slider__imgs_slides {
    width: 500%;
    height: 332px;
    display: flex;
  }
  .slide__content {
    width: 25vw;
    height: 176px;
    padding: 0;
    margin: 72px 104px 110px 50px;
  }
  .slide__content_description {
    width: 34vw;
    height: 140px;
    color: var(--color-white);
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .slide__content_title {
    width: 36vw;
    height: 19px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-transform: uppercase;
  }
}

@media (max-width: 320px) {
  .testimonials {
    width: 100%;
    height: 570px;
    margin-bottom: 34px;
  }
  .slider {
    width: 100%;
    height: 538px;
    overflow: hidden;
  }
  .slider__imgs_slides {
    width: 500%;
    height: 538px;
    display: flex;
  }
  .slide {
    width: 20%;
    transition: 2s;
    display: flex;
    flex-wrap: wrap;
    background: url('../img/slider_img/slider_bg2.jpg');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .slide__photo {
    width: 100%;
    height: 212px;
    background: url('../img/slider_img/slider_bg1.jpg') center/cover no-repeat;
  }
  .slide__content {
    width: 275px;
    height: 231px;
    padding: 0;
    margin: 0 25px 95px 20px;
  }
  .slide__content_description {
    width: 275px;
    height: 206px;
    color: var(--color-white);
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 0;
    padding-top: 27px;
  }
  .slide__content_title {
    width: 275px;
    height: 25px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-transform: uppercase;
  }
}
